* {
    box-sizing: border-box;
  }

html{
    font-family: lato;
    color: var(--primary-color-txt);
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0 0 0;
  line-height: 1.3;
}

.main-content{
  padding-top: 80px;
  border-width: 1px;
  border-style: solid;
  border-color: RGBA(225, 224, 224, 1);
}

button{
  cursor: pointer;
}

.logo{
  font-size: 2.5em;
  font-family: eurof55;
}
